
@import 'svg-partials/mixins.scss';
@import 'partials/variables.scss';



#svg4190{
	width:100%;
	height:100%;
}

//bg layer
g#layer14 {
  position:relative;
  opacity: 1;
  z-index:-1;

}

//responsive layer
g#layer17 {
  position:absolute;
  opacity: 0;
  left:-600px;
    
  @include transformerorigin( 50% 50% );
  @include anime-mode( responsive-slide);
  @include durationer( 4s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 0s );
  @include fillermode( both );
  @include transforming-things ( translateX(-600px));
  @include transitioner( all 0.1s ease-in-out);


}
@include keyframes( responsive-slide ) {

  0%{ @include transforming-things ( translateX(0px) scale(1)); opacity:1;}
  
  
  50%{opacity:1; @include transforming-things ( rotate(360deg) translateX(0px) scale(1)); }

  100%{ opacity:0; @include transforming-things ( rotate(-2700deg) translateX(0px) scale(0)); }

}

//wordpress
g#layer18 {
  position:absolute;
  left:600px;
  opacity:0;
  
  @include transformerorigin( 50% 50% );
  
  @include anime-mode( wordpress-slide);
  @include durationer( 3s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 5s );
  @include fillermode( both );
  @include transforming-things ( translateX(600px));
  @include transitioner( all 0.5s ease-in-out);

}
@include keyframes( wordpress-slide ) {

  0%{ opacity:0;  @include transforming-things ( translateX(0px) scale(1));}
 
    
  50%{opacity:1; @include transforming-things ( translateX(0px) scale(1)); }

  100%{ opacity:0; @include transforming-things ( translateX(0px) scale(10)); }

}

//mobile
#layer19 {
  position:absolute;
  left:600px;
  opacity:0;
  @include transformerorigin( 50% 50% );
  @include anime-mode( mobile-slide);
  @include durationer( 3s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 9s );
  @include fillermode( both );
  @include transforming-things ( translateX(600px));
  @include transitioner( all 0.1s ease-in-out);

}
@include keyframes( mobile-slide ) {
  
  
  0%{ opacity:0;  @include transforming-things ( translateX(0px));}

  25%{opacity:1; @include transforming-things ( translateX(0px));}

  50%{  opacity:1; @include transforming-things ( translateX(-150px) ); }

  75%{  opacity:1; @include transforming-things ( translateX(150px) ); }

  100%{ opacity:1; @include transforming-things ( translateX(600px) ); }

}

//coding
g#layer20 {
  position:absolute;
  left:600px;
  
  @include transformerorigin( 50% 50% );
  @include anime-mode( coding-slide);
  @include durationer( 3s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 13s );
  @include fillermode( both );
  @include transforming-things ( translateX(600px));
  @include transitioner( all 0.1s ease-in-out);

}
@include keyframes( coding-slide  ) {

  0%{ opacity:0; }
  
  25%{ @include transforming-things (  translateX(0px) scale(1)); opacity:1; }

  50%{ opacity:1; @include transforming-things (rotate(360deg) translateX(0px) scale(1) ); }

  100%{ opacity:0; @include transforming-things (rotate(2700deg) translateX(0px) scale(0) ); }

}

//final
g#layer21{

  position:absolute;
  left:-600px;
  
  display:none;
  
  @include transformerorigin( 50% 50% );
  @include anime-mode( final-slide);
  @include durationer( 2s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 18s );
  @include fillermode( both );
  @include transforming-things ( translateX(-600px));
  @include transitioner( all 0.1s ease-in-out);

}
@include keyframes(final-slide) {

  0%{ @include transforming-things ( translateX(0px)); opacity:0; }

  15%{ opacity:1;}

  50%{  opacity:1;}

  100%{ @include transforming-things ( translateX(0px) scale(1.05) ); opacity:1;}

}

#a4408{
  width:20%;

  @include transformerorigin( 277.2356px 165.47476px );
  @include anime-mode( gallery-btn);
  @include durationer( 1s );
  @include Timing( ease-in-out );
  @include iteration-mode( 1 );
  @include directions( forwards );
  @include delayer( 20s );
  @include fillermode( both );
  @include transitioner( all 0.1s ease-in-out);

  &:hover{
    fill:#092f6d;
  }


}
@include keyframes( gallery-btn ) {

  50%{  @include transforming-things ( scaleX(1.05)); }
  
  100%{  @include transforming-things ( scaleX(1)); }

}

    





/*:hover{ @include transforming-things ( scale(0.9) );}*/


