
@mixin transformerorigin( $transformerorigin) {
  transform-origin: $transformerorigin;
  -webkit-transform-origin: $transformerorigin;
  -moz-transform-origin: $transformerorigin;
  -o-transform-origin: $transformerorigin;
}

@mixin Timing( $timing) {
  animation-timing-function: $timing;
  -webkit-animation-timing-function: $timing;
  -moz-animation-timing-function: $timing;
  -o-animation-timing-function: $timing;
}

@mixin delayer( $delayer) {
  animation-delay: $delayer;
  -webkit-animation-delay: $delayer;
  -moz-animation-delay: $delayer;
  -o-animation-animation-delay: $delayer;
}

@mixin durationer( $durationer) {
  animation-duration: $durationer;
  -webkit-animation-duration: $durationer;
  -moz-animation-duration: $durationer;
  -o-animation-duration: $durationer;
}


@mixin transforming-things( $transforming-things...) {
  transform: $transforming-things;
  -webkit-transform: $transforming-things;
  -moz-transform: $transforming-things;
  -o-transform: $transforming-things;
}

@mixin transitioner( $transitioner...) {
-webkit-transition: $transitioner;
-moz-transition: $transitioner;
-o-transition: $transitioner;
transition: $transitioner;
}

@mixin directions( $directions) {
  animation-direction: $directions;
  -webkit-animation-direction: $directions;
  -moz-animation-direction: $directions;
  -o-animation-direction: $directions;
}

@mixin fillermode( $fillermode) {
  animation-fill-mode: $fillermode;
  -webkit-animation-fill-mode: $fillermode;
  -moz-animation-fill-mode: $fillermode;
  -o-animation-fill-mode: $fillermode;
}

@mixin keyframes( $name ) {

  @-webkit-keyframes #{ $name } {
        @content;
  }
  @-moz-keyframes #{ $name } {
        @content;
  }
  @-o-keyframes #{ $name } {
        @content;
  }
  @keyframes #{ $name } {
        @content;
  }
}



#layer4 {

  position:absolute;
  opacity: 1;
  z-index:-1;
  
}


#layer1 {
  position:absolute;
  
  opacity: 0;
  left:600px;

  animation: desk-slide ;
  -webkit-animation: desk-slide;
  -moz-animation: desk-slide;
  -o-animation: desk-slide;


  @include transformerorigin( 275px 270px);
  @include Timing( ease-in-out );
  @include delayer( 3s );
  @include durationer( 1s );
  @include transforming-things( translateX(600px) );
  @include fillermode( both );
  
   
}

@include keyframes( desk-slide ) {


  100% { left: 0;  opacity:1; @include transforming-things( translateX(0px) ); }
    
}

#layer7 {
  position:absolute;
  
  opacity: 0;
  left:-600px;

  animation: mob-slide ;
  -webkit-animation: mob-slide;
  -moz-animation: mob-slide;
  -o-animation: mob-slide;


  @include transformerorigin( 275px 270px);
  @include Timing( ease-in-out );
  @include delayer( 6s );
  @include durationer( 1s );
  @include transforming-things( translateX(-600px) );
  @include fillermode( both );
  
   
}

@include keyframes( mob-slide ) {


  100% { left: 0;  opacity:1; @include transforming-things( translateX(0px) ); }
    
}



#layer3 {
  position:absolute;
  
  opacity: 0;
  left:600px;
  animation: wordpress-cover-slide ;
  -webkit-animation: wordpress-cover-slide;
  -moz-animation: wordpress-cover-slide;
  -o-animation: wordpress-cover-slide;

  @include transformerorigin( 275px 270px );
  @include Timing( ease-in-out );
  @include delayer( 9s );
  @include durationer( 1s );
  @include transforming-things( translateX(600px) );
  @include fillermode( both );
  
    
}

@include keyframes( wordpress-cover-slide ) {
  
  100% { left: 0;  opacity:1; @include transforming-things( translateX(0px) ); }  
}


#layer5 {
  position:absolute;
  
  opacity: 0;
  left:-600px;
  animation: web-design-slide ;
  -webkit-animation: web-design-slide ;
  -moz-animation: web-design-slide ;
  -o-animation: web-design-slide ;

  @include transformerorigin( 275px 270px );
  @include Timing( ease-in-out );
  @include delayer( 12s );
  @include durationer( 1s );
  @include transforming-things( translateX(-600px) );
  @include fillermode( both );


    
}

@include keyframes( web-design-slide  ) {
  
  100% { left: 0;  opacity:1; @include transforming-things( translateX(0px) ); }  
}

#g4408{

  position:absolute;
  opacity: 0;
  animation: web-design-btn ;
  -webkit-animation: web-design-btn ;
  -moz-animation: web-design-btn ;
  -o-animation: web-design-btn ;

  @include transformerorigin( 277.2356px 165.47476px );
  @include Timing( ease-in-out ); 
  @include delayer( 14s );
  @include durationer( 1s );
  @include transitioner(all 0.5s ease-in-out);
  @include fillermode( both );
  
  
}

@include keyframes( web-design-btn  ) {
  
  100% { opacity:1; @include transforming-things( scale (1) ); }  
}
  
#g4408:hover{ @include transforming-things ( scale(1.1) ); @include transitioner( all 0.1s ease-in-out);  }
/*#g4408:hover{ @include transforming-things ( scale(0.9) );}*/ 


/*Coding standards~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
g#Layer_5{

  position:absolute;
  opacity: 0;
  
  animation: jquerypic ;
  -webkit-animation: jquerypic ;
  -moz-animation: jquerypic ;
  -o-animation: jquerypic ;

  @include transformerorigin(0px 0px);
  @include Timing( ease-in-out );
  @include delayer( 2s );
  @include durationer( 2s );
  @include transitioner(all 0.5s ease-in-out);
  @include fillermode( both );
}

@include keyframes( jquerypic ) {
      
  100% { left: 0;  opacity:1; }
}

g#Layer_5:hover{ }



g#Layer_2{

    position:absolute;
    opacity: 0;

    animation: phppic ;
    -webkit-animation: phppic ;
    -moz-animation: phppic ;
    -o-animation: phppic ;

    @include transformerorigin( 0 0 );
    
    @include Timing( ease-in-out );
    @include delayer( 4s );
    @include durationer( 2s );
    @include transitioner(all 0.5s ease-in-out);
    @include fillermode( both );
}

@include keyframes( phppic ) {
  0%{ left:0; opacity:0; } 
  100% { left: 0;  opacity:1; }
}

g#g5138{

    position:absolute;
    opacity: 0;

    animation: htmlpic ;
    -webkit-animation: htmlpic ;
    -moz-animation: htmlpic ;
    -o-animation: phtmlpic ;

    @include transformerorigin( 0 0 );
    
    @include Timing( ease-in-out );
    @include delayer( 6s );
    @include durationer( 2s );
    @include transitioner(all 0.5s ease-in-out);
    @include fillermode( both );
}

@include keyframes( htmlpic ) {
  0%{ left:0; opacity:0; } 
  100% { left: 0;  opacity:1; }
}


g#g5228{ 

    position:absolute;
    opacity: 0;

    animation: csspic ;
    -webkit-animation: csspic ;
    -moz-animation: csspic ;
    -o-animation: csspic ;

    @include transformerorigin( 0 0 );
    
    @include Timing( ease-in-out );
    @include delayer( 8s );
    @include durationer( 2s );
    @include transitioner(all 0.5s ease-in-out);
    @include fillermode( both );
}

@include keyframes( csspic ) {
    
    100% { left: 0;  opacity:1; }
}


g#g5296{

    position:absolute;
    opacity: 0;

     animation: wordpic ;
    -webkit-animation: wordpic ;
    -moz-animation: wordpic ;
    -o-animation: wordpic ;

    @include transformerorigin( 0 0 );
    @include Timing( ease-in-out );
    @include delayer( 10s );
    @include durationer( 2s );
    @include transitioner(all 0.5s ease-in-out);
    @include fillermode( both );
}

@include keyframes( wordpic ) {
    
    100% { left: 0;  opacity:1; }
}


