# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.phpintel
.sass-cache
Blog-Script-text-files
fontawesome
fonts
graphics
graphics/front-slider-image/
graphics/front-slider-image/Screenshots/
graphics/PSD files
inc/
inc/helpers/
inc/lightbox/
inc/lightbox/css/
inc/lightbox/images/
inc/lightbox/js/


js/Respond-master/
js/Respond-master/demo/
js/Respond-master/dest/
js/Respond-master/src/
js/Respond-master/test/
js/Respond-master/test/unit/
js/Respond-master/test/unit/qunit/

js/responsive-nav.js-master/
js/vendor/
js/animate-slider.js
js/html5shiv.min.js
js/jquery.cookie.js
js/menuswitch.js
js/scrollto.js
js/selectivizr-min.js

Script-test-folder/
Script-test-folder/dist
Script-test-folder/genericons/
Script-test-folder/PIE/

arrow2.gif
buttons.png
ie.css.map
style.css.map
svg-style.css.map
PIE.htc
screenshot.jpg


