# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
PIE.htc
.phpintel/
.sass-cache/
Blog-Script-text-files/
fontawesome/
node_modules/
Files/
fonts/
images/
images/PHP jabber/
images/Portfolio-snapshots/

inc/
inc/helpers/
inc/lightbox/
inc/lightbox/css/
inc/lightbox/images/
inc/lightbox/js/

js/Respond-master/
js/Respond-master/demo/
js/Respond-master/dest/
js/Respond-master/src/
js/Respond-master/test/
js/Respond-master/test/unit/
js/Respond-master/test/unit/qunit/

/custom-post-folder

js/responsive-nav.js-master/
js/vendor/
js/unused-scripts/
js/animate-slider.js
js/html5shiv.min.js
js/jquery.cookie.js
js/menuswitch.js
js/scrollto.js
js/selectivizr-min.js
js/wow-animate.js
js/jquery.easing.1.3.js

ie.css.map
ie.css
ie-min.css.map

Script-test-folder/
Script-test-folder/dist
Script-test-folder/genericons/
Script-test-folder/PIE/

arrow2.gif
buttons.png
css/ie.css.map
css/old-files/
css/partials/

style.css.map
style-min.css.map

css/test.html
css/normalize.css.map
css/svg-style-2.css.map
css/svg-style-3.css.map
css/svg-style-2-min.css.map
css/svg-style-3-min.css.map
css/svg-style-2.css
css/svg-style-3.css

css/style.css
css/style.css.map
css/svg-style.css.map
css/svg-style-min.css.map
css/svg-style.css
css/svg-style.scss
css/partials/_variables.scss
css/test.html

npm-debug.log

css/PIE.htc
screenshot.jpg

svg-style-2-min.css
svg-style-2-min.css.map
svg-style-2.css
svg-style-2.css.map

svg-style-3.css
svg-style-3.css.map
svg-style-3-min.css.map

nbproject/

nbproject/private/
