#svg4190 {
  width: 100%;
  height: 100%;
}

g#layer14 {
  position: relative;
  opacity: 1;
  z-index: -1;
}

g#layer17 {
  position: absolute;
  opacity: 0;
  left: -600px;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  animation-name: responsive-slide;
  -webkit-animation-name: responsive-slide;
  -moz-animation-name: responsive-slide;
  -o-animation-name: responsive-slide;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-animation-delay: 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  transform: translateX(-600px);
  -webkit-transform: translateX(-600px);
  -moz-transform: translateX(-600px);
  -o-transform: translateX(-600px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@-webkit-keyframes responsive-slide {
  0% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(-2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(-2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(-2700deg) translateX(0px) scale(0);
    -o-transform: rotate(-2700deg) translateX(0px) scale(0);
  }
}
@-moz-keyframes responsive-slide {
  0% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(-2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(-2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(-2700deg) translateX(0px) scale(0);
    -o-transform: rotate(-2700deg) translateX(0px) scale(0);
  }
}
@-o-keyframes responsive-slide {
  0% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(-2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(-2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(-2700deg) translateX(0px) scale(0);
    -o-transform: rotate(-2700deg) translateX(0px) scale(0);
  }
}
@keyframes responsive-slide {
  0% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(-2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(-2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(-2700deg) translateX(0px) scale(0);
    -o-transform: rotate(-2700deg) translateX(0px) scale(0);
  }
}
g#layer18 {
  position: absolute;
  left: 600px;
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  animation-name: wordpress-slide;
  -webkit-animation-name: wordpress-slide;
  -moz-animation-name: wordpress-slide;
  -o-animation-name: wordpress-slide;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-animation-delay: 5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  transform: translateX(600px);
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -o-transform: translateX(600px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes wordpress-slide {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(10);
    -webkit-transform: translateX(0px) scale(10);
    -moz-transform: translateX(0px) scale(10);
    -o-transform: translateX(0px) scale(10);
  }
}
@-moz-keyframes wordpress-slide {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(10);
    -webkit-transform: translateX(0px) scale(10);
    -moz-transform: translateX(0px) scale(10);
    -o-transform: translateX(0px) scale(10);
  }
}
@-o-keyframes wordpress-slide {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(10);
    -webkit-transform: translateX(0px) scale(10);
    -moz-transform: translateX(0px) scale(10);
    -o-transform: translateX(0px) scale(10);
  }
}
@keyframes wordpress-slide {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(0px) scale(10);
    -webkit-transform: translateX(0px) scale(10);
    -moz-transform: translateX(0px) scale(10);
    -o-transform: translateX(0px) scale(10);
  }
}
#layer19 {
  position: absolute;
  left: 600px;
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  animation-name: mobile-slide;
  -webkit-animation-name: mobile-slide;
  -moz-animation-name: mobile-slide;
  -o-animation-name: mobile-slide;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 9s;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-animation-delay: 9s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  transform: translateX(600px);
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -o-transform: translateX(600px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@-webkit-keyframes mobile-slide {
  0% {
    opacity: 0;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -o-transform: translateX(-150px);
  }
  75% {
    opacity: 1;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -o-transform: translateX(600px);
  }
}
@-moz-keyframes mobile-slide {
  0% {
    opacity: 0;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -o-transform: translateX(-150px);
  }
  75% {
    opacity: 1;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -o-transform: translateX(600px);
  }
}
@-o-keyframes mobile-slide {
  0% {
    opacity: 0;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -o-transform: translateX(-150px);
  }
  75% {
    opacity: 1;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -o-transform: translateX(600px);
  }
}
@keyframes mobile-slide {
  0% {
    opacity: 0;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -o-transform: translateX(-150px);
  }
  75% {
    opacity: 1;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -o-transform: translateX(600px);
  }
}
g#layer20 {
  position: absolute;
  left: 600px;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  animation-name: coding-slide;
  -webkit-animation-name: coding-slide;
  -moz-animation-name: coding-slide;
  -o-animation-name: coding-slide;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 13s;
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  -o-animation-animation-delay: 13s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  transform: translateX(600px);
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -o-transform: translateX(600px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@-webkit-keyframes coding-slide {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(2700deg) translateX(0px) scale(0);
    -o-transform: rotate(2700deg) translateX(0px) scale(0);
  }
}
@-moz-keyframes coding-slide {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(2700deg) translateX(0px) scale(0);
    -o-transform: rotate(2700deg) translateX(0px) scale(0);
  }
}
@-o-keyframes coding-slide {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(2700deg) translateX(0px) scale(0);
    -o-transform: rotate(2700deg) translateX(0px) scale(0);
  }
}
@keyframes coding-slide {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(0px) scale(1);
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) translateX(0px) scale(1);
    -webkit-transform: rotate(360deg) translateX(0px) scale(1);
    -moz-transform: rotate(360deg) translateX(0px) scale(1);
    -o-transform: rotate(360deg) translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(2700deg) translateX(0px) scale(0);
    -webkit-transform: rotate(2700deg) translateX(0px) scale(0);
    -moz-transform: rotate(2700deg) translateX(0px) scale(0);
    -o-transform: rotate(2700deg) translateX(0px) scale(0);
  }
}
g#layer21 {
  position: absolute;
  left: -600px;
  display: none;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  animation-name: final-slide;
  -webkit-animation-name: final-slide;
  -moz-animation-name: final-slide;
  -o-animation-name: final-slide;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 18s;
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-animation-delay: 18s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  transform: translateX(-600px);
  -webkit-transform: translateX(-600px);
  -moz-transform: translateX(-600px);
  -o-transform: translateX(-600px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@-webkit-keyframes final-slide {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1.05);
    -webkit-transform: translateX(0px) scale(1.05);
    -moz-transform: translateX(0px) scale(1.05);
    -o-transform: translateX(0px) scale(1.05);
    opacity: 1;
  }
}
@-moz-keyframes final-slide {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1.05);
    -webkit-transform: translateX(0px) scale(1.05);
    -moz-transform: translateX(0px) scale(1.05);
    -o-transform: translateX(0px) scale(1.05);
    opacity: 1;
  }
}
@-o-keyframes final-slide {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1.05);
    -webkit-transform: translateX(0px) scale(1.05);
    -moz-transform: translateX(0px) scale(1.05);
    -o-transform: translateX(0px) scale(1.05);
    opacity: 1;
  }
}
@keyframes final-slide {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1.05);
    -webkit-transform: translateX(0px) scale(1.05);
    -moz-transform: translateX(0px) scale(1.05);
    -o-transform: translateX(0px) scale(1.05);
    opacity: 1;
  }
}
#a4408 {
  width: 20%;
  transform-origin: 277.2356px 165.47476px;
  -webkit-transform-origin: 277.2356px 165.47476px;
  -moz-transform-origin: 277.2356px 165.47476px;
  -o-transform-origin: 277.2356px 165.47476px;
  animation-name: gallery-btn;
  -webkit-animation-name: gallery-btn;
  -moz-animation-name: gallery-btn;
  -o-animation-name: gallery-btn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-animation-delay: 20s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#a4408:hover {
  fill: #092f6d;
}

@-webkit-keyframes gallery-btn {
  50% {
    transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}
@-moz-keyframes gallery-btn {
  50% {
    transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}
@-o-keyframes gallery-btn {
  50% {
    transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}
@keyframes gallery-btn {
  50% {
    transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}
/*:hover{ @include transforming-things ( scale(0.9) );}*/

/*# sourceMappingURL=svg-style-3.css.map */
