

$color1:#062351;
$color2:#CCD3DE;
$color3:#c0c9dd;
$color4:#fff;
$color10:rgba(255, 255, 255, 0.9);
$color5:#6e757f;
$color6:#9DA3AB;
$color7:#575A5E;
$color8:#000;
$color9:#65686B;
$color11:#bac7db;

/*
$color1:#000000;
$color2:#A2E82F;
$color3:#FFD437;
$color4:#F1FFF4;
$color10:rgba(241, 255, 244, 0.9);
$color5:#FFD437;
$color6:#FF261F;
$color7:#FF254F;
$color8:#BBE82F;
$color9:#FF2417;
$color11:#bac7db;


*/

$FontStyle: 'Titillium Web','ai_kelsor', arial, verdana, helvetica, sans-serif ;

