

$color1:#062351;
$color2:#CCD3DE;
$color3:#c0c9dd;
$color4:#fff;
$color10:rgba(255, 255, 255, 0.8);
$color5:#6e757f;
$color6:#9DA3AB;
$color7:#575A5E;
$color8:#000;
$color9:#65686B;
$color11:#bac7db;

<<<<<<< HEAD
$FontStyle: 'PT Sans', verdana, helvetica, sans-serif ;
$FontStyleHeader: 'Cabin' , verdana, helvetica, sans-serif ;
=======
$FontStyle: 'Titillium Web', verdana, helvetica, sans-serif ;
$FontStyleHeader: 'Amaranth', verdana, helvetica, sans-serif ;
>>>>>>> 76f86ff393c5cc8e46a890b0f6c849efae355cb6
