<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="page-terms.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="page-archives.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/website-post-type.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="107" severity="error" message="Argument $messages is missing from the Docblock of my_updated_messages" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="107" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="128" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="157" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="188" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="197" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="201" severity="error" message="Argument $post is missing from the Docblock of website_fields" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="201" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="232" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="261" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="269" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="281" severity="error" message="Argument $post_id is missing from the Docblock of wpt_save_website_meta" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="281" severity="error" message="Argument $post is missing from the Docblock of wpt_save_website_meta" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="281" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/taxonomy-template-examples-smashing-magazine.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="templates/content-main.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="archive.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="tag.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="page-profile.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="page-websites.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/taxonomy-template-smashing-magazine.php"/>
  <file name="comments.php"/>
  <file name="templates/content-none.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="templates/content-page.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Files/PIE/PIE.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="category.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="inc/extras.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="16" severity="error" message="Argument $classes is missing from the Docblock of popperscores_body_classes" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="search-form.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="single.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="search.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="inc/custom-header.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/custom-meta-box-smashing-magazine.php">
    <error line="101" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="67" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="80" severity="error" message="Argument $post is missing from the Docblock of smashing_post_class_meta_box" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="80" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="page-contact.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="custom-post-folder/websites-custom-types.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="102" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="136" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="145" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="161" severity="error" message="Argument $post is missing from the Docblock of website_fields" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="161" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="182" severity="error" message="Argument $post_id is missing from the Docblock of dwwp_meta_save" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="182" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="blog.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="footer.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="front-page.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="templates/content-gallery.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="header.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="templates/content-single.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="functions.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="17" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="31" severity="error" message="Argument $title is missing from the Docblock of Filter_Wp_title" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="182" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="203" severity="error" message="Argument $src is missing from the Docblock of Shapespace_Remove_Version_Scripts_styles" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="203" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="218" severity="error" message="Argument $src is missing from the Docblock of Remove_Version_parameter" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="267" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="284" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="310" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="323" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="336" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="352" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="375" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="405" severity="error" message="Argument $mimes is missing from the Docblock of CC_Mime_types" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="405" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="436" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="456" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="475" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="595" severity="error" message="Argument $id_or_email is missing from the Docblock of popperscores_validate_gravatar" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="595" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/custom-meta-boxes-wpmudev.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="templates/content.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="index.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="single-website.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="Files/PHP-Files/Select_Nav_Walker.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="85" severity="error" message="Argument $items is missing from the Docblock of add_menu_parent_class" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="85" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="4" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="7" severity="error" message="Argument $output is missing from the Docblock of start_lvl" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="7" severity="error" message="Argument $depth is missing from the Docblock of start_lvl" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="7" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="24" severity="error" message="Argument $output is missing from the Docblock of start_el" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="24" severity="error" message="Argument $item is missing from the Docblock of start_el" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="24" severity="error" message="Argument $depth is missing from the Docblock of start_el" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="24" severity="error" message="Argument $args is missing from the Docblock of start_el" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="24" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="inc/customizer.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="13" severity="error" message="Argument $wp_customize is missing from the Docblock of popperscores_customize_register" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="88" severity="error" message="Argument $value is missing from the Docblock of popperscores_sanitize_layout" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="404.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="attachment.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="page.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="page-privacy.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="archive-website.php"/>
  <file name="sidebar.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="sidebar-archive.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="inc/template-tags.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="197" severity="error" message="Argument $id_or_email is missing from the Docblock of popperscores_validate_gravatar" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="197" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="320" severity="error" message="Argument $more is missing from the Docblock of popper_excerpt_more" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="408" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="Files/PHP-Files/custom-post-types/website-post-type-test.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="102" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="136" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="145" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="161" severity="error" message="Argument $post is missing from the Docblock of website_fields" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="161" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
    <error line="182" severity="error" message="Argument $post_id is missing from the Docblock of dwwp_meta_save" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="182" severity="error" message="No summary for function &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
</checkstyle>
